<div>
  <%= link_to "Back", deck_path, id: "back-link" %>
</div>

<div id="test-container"></div>

<div>
  <button id="flip-card">Flip Card</button>
  <button id="next-card">Next Card</button>
</div>
